LM_PostChrono/gov.uscourts.ao.rest.dal/Domain/xsd/gen3config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://gov/usc/codex/pacts/gen3config" xmlns:core="http://gov/usc/codex/core" xmlns:reftype="http://gov/usc/codex/pacts/reftype" xmlns:district="http://gov/usc/codex/pacts/district" xmlns:gen3config="http://gov/usc/codex/pacts/gen3config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://gov/usc/codex/core" schemaLocation="core.xsd"/>
  <xs:import namespace="http://gov/usc/codex/pacts/reftype" schemaLocation="reftype.xsd"/>
  <xs:import namespace="http://gov/usc/codex/pacts/district" schemaLocation="district.xsd"/>
  <xs:complexType name="configExists">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[<p>Java class for configExists complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="configExists">
&lt;complexContent>
&lt;extension base="{http://gov/usc/codex/core}codexElement">
&lt;sequence>
&lt;element name="gen3ConfigExists" type="{http://www.w3.org/2001/XMLSchema}boolean"/>
&lt;/sequence>
&lt;/extension>
&lt;/complexContent>
&lt;/complexType>
</pre>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:codexElement">
        <xs:sequence>
          <xs:element name="gen3ConfigExists" type="xs:string" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="district">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[<p>Java class for district complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="district">
&lt;complexContent>
&lt;extension base="{http://gov/usc/codex/core}codexElement">
&lt;sequence>
&lt;element name="code" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="abbreviation" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="name" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="circuit" type="{http://www.w3.org/2001/XMLSchema}int" minOccurs="0"/>
&lt;element name="mfAbbreviation" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="jndiName" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="url" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="zoneName" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;/sequence>
&lt;/extension>
&lt;/complexContent>
&lt;/complexType>
</pre>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:codexElement">
        <xs:sequence>
          <xs:element name="code" type="xs:string" minOccurs="0"/>
          <xs:element name="abbreviation" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="circuit" type="xs:string" minOccurs="0"/>
          <xs:element name="mfAbbreviation" type="xs:string" minOccurs="0"/>
          <xs:element name="jndiName" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
          <xs:element name="zoneName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="districtConfiguration">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[<p>Java class for districtConfiguration complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="districtConfiguration">
&lt;complexContent>
&lt;extension base="{http://gov/usc/codex/core}codexElement">
&lt;sequence>
&lt;element name="id" type="{http://www.w3.org/2001/XMLSchema}int" minOccurs="0"/>
&lt;element name="districtCode" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="propertyKey" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="propertyValue" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="applicationCode" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;group ref="{http://gov/usc/codex/core}creationDetail"/>
&lt;/sequence>
&lt;/extension>
&lt;/complexContent>
&lt;/complexType>
</pre>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:codexElement">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="districtCode" type="xs:string" minOccurs="0"/>
          <xs:element name="propertyKey" type="xs:string" minOccurs="0"/>
          <xs:element name="propertyValue" type="xs:string" minOccurs="0"/>
          <xs:element name="applicationCode" type="xs:string" minOccurs="0"/>
          <xs:element name="createdOn" type="xs:string" minOccurs="0"/>
          <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
          <xs:element name="updatedOn" type="xs:string" minOccurs="0"/>
          <xs:element name="updatedBy" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="districts">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[<p>Java class for districts complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="districts">
&lt;complexContent>
&lt;extension base="{http://gov/usc/codex/core}codexElement">
&lt;sequence>
&lt;element name="district" type="{http://gov/usc/codex/pacts/gen3config}district" maxOccurs="unbounded" minOccurs="0"/>
&lt;/sequence>
&lt;/extension>
&lt;/complexContent>
&lt;/complexType>
</pre>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:codexElement">
        <xs:sequence>
          <xs:element name="district" type="gen3config:district" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="gen3config">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[<p>Java class for gen3config complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="gen3config">
&lt;complexContent>
&lt;extension base="{http://gov/usc/codex/core}codexElement">
&lt;sequence>
&lt;element name="districts" type="{http://gov/usc/codex/pacts/gen3config}districts" minOccurs="0"/>
&lt;/sequence>
&lt;/extension>
&lt;/complexContent>
&lt;/complexType>
</pre>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:codexElement">
        <xs:sequence>
          <xs:element name="districts" type="gen3config:districts" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="nationalConfiguration">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[<p>Java class for nationalConfiguration complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="nationalConfiguration">
&lt;complexContent>
&lt;extension base="{http://gov/usc/codex/core}codexElement">
&lt;sequence>
&lt;element name="id" type="{http://www.w3.org/2001/XMLSchema}int" minOccurs="0"/>
&lt;element name="propertyKey" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="propertyValue" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="applicationCode" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;group ref="{http://gov/usc/codex/core}creationDetail"/>
&lt;/sequence>
&lt;/extension>
&lt;/complexContent>
&lt;/complexType>
</pre>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:codexElement">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="propertyKey" type="xs:string" minOccurs="0"/>
          <xs:element name="propertyValue" type="xs:string" minOccurs="0"/>
          <xs:element name="applicationCode" type="xs:string" minOccurs="0"/>
          <xs:element name="createdOn" type="xs:string" minOccurs="0"/>
          <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
          <xs:element name="updatedOn" type="xs:string" minOccurs="0"/>
          <xs:element name="updatedBy" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pactsUser">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[<p>Java class for pactsUser complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="pactsUser">
&lt;complexContent>
&lt;extension base="{http://gov/usc/codex/core}codexElement">
&lt;sequence>
&lt;element name="id" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="firstName" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="lastName" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="ldapLogin" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;element name="staff" type="{http://gov/usc/codex/pacts/district}staff" minOccurs="0"/>
&lt;element name="staffId" type="{http://www.w3.org/2001/XMLSchema}int" minOccurs="0"/>
&lt;element name="statusCd" type="{http://www.w3.org/2001/XMLSchema}string" minOccurs="0"/>
&lt;group ref="{http://gov/usc/codex/core}creationDetail"/>
&lt;/sequence>
&lt;/extension>
&lt;/complexContent>
&lt;/complexType>
</pre>]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:codexElement">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="ldapLogin" type="xs:string" minOccurs="0"/>
          <xs:element name="staff" type="district:staff" minOccurs="0"/>
          <xs:element name="staffId" type="xs:string" minOccurs="0"/>
          <xs:element name="statusCd" type="xs:string" minOccurs="0"/>
          <xs:element name="createdOn" type="xs:string" minOccurs="0"/>
          <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
          <xs:element name="updatedOn" type="xs:string" minOccurs="0"/>
          <xs:element name="updatedBy" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
